<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="manifest" href="/api/service">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo center">Blog</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/create">Create</a></li>
          </ul>
        </div>
      </nav>
    
      <ul class="sidenav" id="mobile-demo">
        <li><a href="/create">Create</a></li>
      </ul>


  </head>

  <body>
    {% block content %}{% endblock %}
    
    <!--JavaScript at end of body for optimized loading-->
    <script>

      function post_blog(){

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/create_post", true);
        xhr.setRequestHeader('Content-Type', 'application/json');

        xhr.send(JSON.stringify({
            "name": document.getElementById('first_name').value,
            "content":document.getElementById('textarea1').value,
            "image":document.getElementById('imgurl').value
        }));
        setTimeout(function(){
          window.location = "/";
        }, 2000);
        

      }

        


        if ("serviceWorker" in navigator) {
          window.addEventListener("load", function() {
            navigator.serviceWorker
              .register("/api/service_w")
              .then(res => console.log("service worker registered"))
              .catch(err => console.log("service worker not registered", err))
          })
        }
      
    </script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>